.hero {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.herosub {
    display: flex;
    padding: 1.63rem 4.82rem 0 4.81rem;
    flex-direction: column;
}

.subhero {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-left: 2.56rem;
    padding-top: 10px;
}

.subhero > h1 {
    width: 21.6875rem;
    color: #000;
    font-family: Poppins;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.475rem;
    margin-bottom: -5px;
}

.subhero > p {
    width: 20rem;
height: 3.5rem;
flex-shrink: 0;
color: #222;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 300;
line-height: 110%; /* 1.1rem */
}